@model IEnumerable<GoRegister.ApplicationCore.Domain.ProjectThemes.Models.ProjectThemeListItemModel>

<div class="d-flex justify-content-between align-items-center border-bottom">
    <h1>Themes</h1>
    <a class="btn btn-success" asp-action="CreateEditTheme" asp-controller="Admin">Create New</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Theme Name
                </th>
                <th>
                    Last updated
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(t => t.ProjectId == null && t.IsArchived == false).OrderByDescending(d => d.DateUpdated).GroupBy(n => n.Name).Select(s => s.First()).OrderBy(n => n.Name))
            {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.DateUpdated
                </td>
                <td>
                    <a asp-action="EditThemeId" asp-route-id="@item.Id">Edit</a> | @Html.ActionLink("Preview", "PreviewTheme", "Admin", new { @item.Id }, new { target = "_blank"})
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

